<!DOCTYPE html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1">
    <link
        rel="stylesheet"
        href="https://buynow-cdn.s3-ap-southeast-1.amazonaws.com/admin/bootstrap/bootstrap.min.css" />
    <title>Confirm Delivery</title>
</head>
<body>
    <div class="container">
        <span th:text="${token}"/> ?
    </div>
</body>
</html>
